@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
 padding: 0;
 box-sizing: border-box;

}
:root{
  background-color: black;
}

header{
    position: absolute ;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 100px;
    z-index: 1000;
    place-items: center ;
    
}
header::after {

position: absolute;
width: 40%;
height: 5px;
left: 100px;
top: 50%;
transform: translateY(-50%);
content: '';
background: linear-gradient(90deg,red,transparent);


}



.logo{
font-size: 30px;
color: whitesmoke;

}
.logo img{
    position: absolute;
    top: 0;
    left: 50%; 
    transform: translateX(-50%);
    width: 150px; 
    height: auto; 
    
    
}
.nav {
    z-index: 200;
    position: fixed;
    right: 50px;
    top: 20px;
    width: auto; /* Changed to auto to fit content */
    height: 40px;
    border-bottom: 2px solid transparent;
    background: transparent;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(10px);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s;
    transform-origin: right;

    border-image: linear-gradient(
        98deg,
        transparent,
        var(--primary),
        var(--primary)
    )
     30;
    background:transparent;
    box-shadow: 0 0 40px  rgba(0,0,0,0.5);
    backdrop-filter:blur(20px);
    display:flex;
    justify-content:center;
    align-items: center;
    transition:1s;
    transform-origin:right;
}

.nav.active {
    top: 50px;
    height: auto; /* Changed to auto to fit content */
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;

    border-image:linear-gradient(
        98deg,
        transparent,
        var(--primary),
        var(--primary),
        transparent
    )
    30;
    border-bottom: none;
}

.nav li {
    position: relative;
    list-style: none;
    opacity: 0;
    visibility: hidden;
    transition: 0.5s;
}

.nav.active li {
    visibility: visible;
    opacity: 1;
}

.nav li:not(:last-child) {
    margin-right: 20px; /* Adjusted spacing between items */
}


.banner .gallery{

position: absolute;
content: ' ';
left :100px;
bottom: 0;
width: 55;
height: 30%;
z-index: 100;
background: transparent;
box-shadow:0px 10px 40px rgba(0, 0, 0, 0.5) ;
backdrop-filter: blur(20px);
display: flex;
justify-content: center;
align-items: center;


}
.banner .gallery::before{
    position: absolute;
        content: '';
        left: 0;
        bottom: 0;
        height: 10px;
        width: 100%;
        background: var(--primary);
        filter:blur(15px);

}

.banner .gallery.carousel{
    width: 100%;
    height: 100%;

}
.carousel .carousel-item{

    width: 250px;
    cursor: pointer;

}
.carousel .carousel-item img{

    border-radius: 10px;
    object-fit: cover;
    object-position: cover;

}
.carousel.carousel-item h4 {
    text-align: center;
    color: var(--primary);
    font-size: 1.3em;
    font-weight: 300;
    letter-spacing: 1px;
}
.sci{

    position: absolute;
    top: 50%;
    right: 100px;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

}
.sci li {
    list-style: none;


}
.sci li  a{

    text-decoration: none;
    color: #100202;
    font-size: 1.2em;
    transition: 0.3s;    
}
.sci li a:hover{

color :var(--primary)

}
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
background-color: azure;
position: fixed;
height: 70px;
width: 100%;
z-index: 100;
padding: 0 20px;
}
a{
    text-decoration: none;
}
.logo{
    font-size: 25px;
    color: rgb(12, 163, 168);
}
.navigation{
max-width: 1100px;
width: 100%;
margin: 0 auto;

}
.navigation,
.nav_item {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
  
}

.nav_item  {
    color: antiquewhite;
    column-gap: 25px;
}
.nav_item a{
    color:  rgb(14, 136, 116);
}
.nav_item a:hover{
    color: white;
}
.button{
    color: rgb(29, 151, 153);
    padding:  6px 24px;
    border: 2px solid #53c8b2;
    background: transparent;
    border-radius: 6px;
    cursor: pointer;
}

.button:active{
    transform: scale(0.98);
}


.home{
    position: relative;
    height: 100vh;
    width: 100%;
    background-image: url("C:\Users\HP\Downloads\images (2).jpg");
    background-size: cover;
    background-position: center;
}




.form_container{
    position: absolute;
    top: 50%;
    left:50%;
    transform:translate(-50%,-50%);
    z-index:101 ;
    background: #fff;
    padding: 25px;
    border-radius:  12px;
    box-shadow:#0b0217;
    max-width: 430px;
    width:100%;
  
  
}
.form_container a:hover{
    text-decoration: underline;
}
.form_closer{
    position: absolute;
    top: 10px;
    right: 20px;
    color: #0b0217;
    font-size: 22px;
    opacity: 0.7;
    cursor: pointer;
}


.form_container h2{
    font-size: 28px;
    text-align: center;
}
.input_box{
    position: relative;
    margin-top: 30px;
    width:100%;
    height: 40px;

}

.input_box input{
    height: 100%;
    width:100%;
    border:none;
    padding: 0 30px;
    outline: none;
    transition: all 0.2s ease;
    border-bottom: 1.5px solid #aaaaaa;
    color:#333 ;
  
    
}

.input_box input:focus{
    border-color: #53c8b2;
}

.input_box i{
    position: absolute;
    top:50%;
    transform:translateY(-50%);
    font-size: 20px;
    left: 0;
    border-color: #53c8b2;
}

.input_box input:focus ~ i

{
   color: #53c8b2;
}

.form-link{
    margin-top: 14px;
    display: 14px;
    align-items: center;
    justify-content: space-between;
    position: center;
}
.form-link a{
    color: #53c8b2;
    font-size: 13px;
}

.form_container
.login-button{
background: #53c8b2;
margin-top: 30px;
width: 100%;
padding:10px 0 ;
border-radius: 10px;
}
.signup{
    font-size: 12px;
    text-align: center;
    margin-top: 15px;

}
.form_container
.signup-button{
background: #53c8b2;
margin-top: 30px;
width: 100%;
padding:10px 0 ;
border-radius: 10px;
}
.banner{
  position: relative;
  width: 100vh;
  padding: 0 100px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
  transition: 0.5s;

}

.banner::after {
position: absolute;
content: '';
top:0;
left:0;
right: 0;
bottom: 0;
width: 100%;
height: 100%;
background: radial-gradient(
    rgba(0,0,0.1),
    rgba(0,0,0.3),
    rgba(0,0,0.6),
    rgba(0,0,0.9)

);
}

.banner::before{
    position: absolute;
    content: '';
    top: 25%;
    left: 0;
    width: 5px;
    height: 40%;
    background: linear-gradient(var(--primary),var(--primary),transparent);
    z-index:100 ;

}
.banner .content{
    position :relative;
    max-width: 700px;
    padding-bottom: 200px;
    z-index: 100;
}

.banner.content h1{
    font-family:'Racing Sans One',cursive;
    font-size: 10cm;
    color: #ffffff;
    font-weight: 500;
    line-height: 0.8em;
    letter-spacing: 5px;
}

.banner.content.model {
    font-size: 4em;
    text-transform: uppercase ;
    color: var(--primary);
    display: none;
}
 
.banner.content.model.active{
    display: block;
}
.banner.content p{
    color: #ffffff;
    font-size: 200;
    letter-spacing: 1px;
    margin-bottom: 50px;
}
 
.banner.content a {
position: relative;
width: 200px;
color: #ffffff;
text-decoration: none;
padding: 15px 60px;
background: transparent;
border-bottom: 3px solid;
border-image: linear-gradient(
    90deg,
    transparent
    var(--primary),
    var(--primary),
    transparent
)
30 ;
box-shadow: inset 0 0 10px rgba(0,194,222,0.5);
backdrop-filter: blur (20px);
text-transform: uppercase;
font-size: 1.2em ;
font-weight: 300;
letter-spacing: 1px;
transition: 0.5s;
}
.banner.content a:hover{
    box-shadow: inset 0 0 10px rgba(0,194,222,0.5);
}
